<html>
<head>
  <style>
    body {
      background-repeat:no-repeat;
      background-color: white;
      background-position: center;
      background-size: 70%;
      padding:5px;
      margin:0;
    }
    a {
      color: orange;
    }
    .container {
      color:white;
      text-align:left;
      background-color:orange;
      padding:1px 0 1px 20px;
      border-radius:10px;
    }
    .h1font {
      font-size:2em;
    }
    .h2font {
      font-size:1.5em;
    }
    .h3font {
      font-size:1em;
    }
  </style>
  <title>Pay | Fail</title>
</head>
<body>
  <div class="container">
    <p class="h1font">Oops!  <p>This is agile engineering.</p>
    
  </div>
  
  <!-- do not remove this span (jasona) -->
  <span id="snd"></span>
  
  <script type="text/javascript">
    // User Voice
    var uvOptions = {};
    (function() {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' :
                                                           'http://') +
                  'widget.uservoice.com/VEQRKpeWoUBoBIZ2ysu1g.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s);
    })();
  </script>
  
</body>
</html>